network : 
  inpx_file : '1-1_network\1-1_network.inpx' # vissimのinpxファイル
  layx_file : '1-1_network\1-1_network.layx' # vissimのlayxファイル
  groups :
    - id : 1                                           # グループのID
      roads : '1-1_network_roads.yaml'                 # 道路の情報がまとまったyamlファイル
      intersections : '1-1_network_intersections.yaml' # 交差点の情報がまとまったyamlファイル
      prms : '1-1_network_prms.yaml'                   # パラメータの情報がまとまったyamlファイル
vissim :
  graphic_mode : 1            # 描画モードON=0
  seed : 1                    # 乱数のシード値
  resolution : 10             # シミュレーション時間で1sあたりに何回自動車の位置を更新するか(解像度)
  max_sim_speed : 'on'        # シミュレーションの速度を最大にするかどうか
  phase_comparison_flg : 'off' # 4, 8, 17フェーズで同時の比較をするかどうか
  
mpc :
  predictive_horizon : 5 # 予測ホライゾン
  control_horizon : 2    # 制御ホライゾン
  time_step : 2          # タイムステップ
  max_time : 40          # 最適化の計算時間の上限

model :
  dan :
    N_s : 5           # 最低の連続ステップ数
    m : 1             # 最大変化回数
    eps : 0           # 微小量
    num_fix_steps : 2 # 初期値の固定する数
    phase :           # 道路の数とフェーズの数の対応
      - roads : 3
        num : 4
      - roads : 4
        num : 17
      - roads : 5
        num : 10

simulation :
  time : 500  # シミュレーション時間
  count : 1   # シミュレーション回数

intersection :
  yellow_time : 'on'
  red_time : 'on'

result :
  save :
    active : 'off'
    path : 'results\1-1_network'
    name : 'data'
  compare : 
    active : 'off'
    path : 
      - 'results\1-1_network\8\data.mat'
      - 'results\1-1_network\17\data.mat'
  contents :
    calc_time :
      active : 'off'
      scale : 'intersection'
    queue_length :
      active : 'off'
      scale : 'intersection'
    num_vehs : 
      active : 'off'
      scale : 'intersection'
    delay_time : 
      active : 'off'
      scale : 'intersection'
    speed :
      active : 'off'
  database :
    active : 'on'
    path : 'results\1-1_network\misc.csv'
      
graph :
  line_graph : 
    line_width : 2
  histogram :
    bin_width : 0.5
    face_alpha : 0.5
  font_size :
    title : 20
    label : 15
    axis : 15

  